/* -- header -- */
#search-input:focus {
  box-shadow: none;
  background-color: #f0f2f5;
}

/* nav button */
.nav__btn a:hover:not(.nav__btn-active) {
  background: #f0f2f5 !important;
}

.nav__btn a:hover i {
  color: #0d6efd !important;
}

.nav__btn-active i {
  color: #0d6efd !important;
}

.nav__btn-active a {
  color: #0d6efd !important;
}

.nav__btn-active {
  position: relative;
}

.nav__btn-active:before {
  content: "";
  position: absolute;
  bottom: -4.5px;
  left: 0;
  transform: translate(0, 4.5px);
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #0d6efd !important;
}

/* dropdown */
.dropdown-item:active {
  background-color: #d5d5d5 !important;
}

/* chat box */
.modal-content:hover .fa-phone-alt {
  color: #0d6efd !important;
}

.modal-content:hover .fa-video {
  color: #0d6efd !important;
}

.modal-content:hover .fa-file-image {
  color: #0d6efd !important;
}

.modal-content:hover .fa-plus-circle {
  color: #0d6efd !important;
}

.modal-content:hover .fa-portrait {
  color: #0d6efd !important;
}

.modal-content:hover .fa-adjust {
  color: #0d6efd !important;
}

.modal-content:hover .fa-thumbs-up {
  color: #0d6efd !important;
}

/* edit */
.edit-button {
  opacity: 0;
}

.edit-button:hover {
  opacity: 1;
}

.edit-heading:hover .edit-button {
  opacity: 1;
}

/* scrollbar */
.scrollbar:hover {
  overflow: auto !important;
}

/* -- end header -- */
/* -- profile -- */
.profile {
  max-width: 1095px;
  width: 100%;
}

.profile-cover {
  max-height: 420px;
  height: 420px;
}

/* popover */
.pop-avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-box {
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* stories */
.story:hover {
  opacity: 0.8;
}

.pointer {
  cursor: pointer;
}

/* comment */
.post__comment .accordion-button::after {
  margin-left: 0 !important;
  display: none !important;
}

.post__comment .accordion-button:hover {
  background: transparent !important;
  border-color: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
  background: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

@media (min-width: 62em) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}


/*upload_story*/
.image-form{
  position:absolute;
  bottom: 0;
}

.container_story{
  position:relative;
}

.preview-container{
  position:absolute;
  top: 0;
  width: 80%;
  height: 95%;
}

.hidden{
  display: none;
}



/* story */
.stories-container {
  max-width: 680px;
  margin: 24px auto;
  position: relative;
}

.stories-container .previous-btn,
.stories-container .next-btn,
.stories-full-view .previous-btn,
.stories-full-view .next-btn {
  width: 30px;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background: #444;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.stories-container .previous-btn,
.stories-container .next-btn {
  opacity: 0;
  pointer-events: none;
  transition: all 400ms ease;
}

.stories-container .previous-btn.active,
.stories-container .next-btn.active {
  opacity: 1;
  pointer-events: auto;
}

.stories-container .previous-btn,
.stories-full-view .previous-btn {
  left: 8px;
}

.stories-container .next-btn,
.stories-full-view .next-btn {
  right: 8px;
}

.stories-container .story {
  height: 200px;
  width: 120px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.stories-container .story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-desc {
  display: none;
  transition: all .2s linear;
}

.preview {
  display: none;
  transition: all .2s linear;
}

#imagePreview {
  max-height: 400px;
  object-fit: cover;
}

.main-container {
  max-width: 1062px;
  width: 100%;
}

#avatar {
  border: 5px solid white;
}

.profile-img {
  width: calc((100% / 3) - (8px / 3));
  aspect-ratio: 1/1;
  object-fit: cover;
}

.friend-item {
  width: calc((100% / 3) - (16px / 3));
  min-height: 140px;
}

.friend-image {
  aspect-ratio: 1/1;
}

.stories-container .stories {
  display: flex;
  gap: 8px;
}

.stories-container .content {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.stories-container .content::-webkit-scrollbar {
  display: none;
}

.stories-container .author {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px 16px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(transparent, #222 130%);
}

.author_add {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px 16px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000000;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author_plus {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hdh {
  font-size: 24px;
  font-weight: bold;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgb(0, 119, 255);
}

.stories-full-view {
  position: fixed;
  inset: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  place-items: center;
}

.stories-full-view.active {
  display: grid;
}

.stories-full-view .close-btn {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 30px;
  background: #444;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  z-index: 20;
  cursor: pointer;
}

.stories-full-view .content {
  height: 90vh;
  width: 100%;
  max-width: 700px;
  position: relative;
}

.stories-full-view .story {
  height: 100%;
  text-align: center;
}

.stories-full-view .story img {
  height: 100%;
  aspect-ratio: 10/16;
  object-fit: cover;
  border-radius: 16px;
}

.stories-full-view .author {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 4px 32px;
  border-radius: 8px;
}

.bg-secondary-subtle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e2e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Friend */
.bg-main {
  background-color: white;
  height: 100%;
}

.timeline {
  height: 100%;
  width: 100%;
}

.text-p {
  font-size: 23px;
}

.text-blue {
  font-size: 17px;
  color: blue;
  cursor: pointer;
}

.btn-delete {
  background-color: rgb(225, 225, 225);
}

.fb-1 {
  height: 135px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 220px;
}

.btn-bg {
  cursor: pointer;
}

.btn-bg.active {
  background-color: rgb(218, 218, 218);
}

.btn-greenest {
  background-color: rgb(231, 241, 251);
  color: rgb(65, 113, 194);
}


/* friends */
.search-friend {
  position: relative;
}

.search-friend-icon {
  position: absolute;
  top: 30%;
  left: 10px;
  color: #7f7f7f;
}

.search-friend-form {
  border: none;
  height: 35px;
  width: 200px;
  padding-left: 35px;
  background-color: #e3e3e3;
  border-radius: 20px;
}

/* Picture */
.position-picture {
  position: relative;
}

.position-picture-icon {
  position: absolute;
  top: 5%;
  right: 5%;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

/*post_plus*/
.post_plus {
  position: relative;
}

.post_image_plus {
  position: absolute;
  top: 45%;
  right: 40%;
  font-size: 50px;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;/
}

/* comments */
.textarea-container {
  width: 100%;
  overflow: hidden;
  /* Ẩn thanh cuộn */
}

.textarea-container textarea {
  width: calc(100% - 30px);
  /* Giảm kích thước để tránh hiển thị thanh cuộn ngang */
  height: 100%;
  resize: none;
  /* Ngăn người dùng thay đổi kích thước textarea */
  overflow: auto;
  /* Nội dung dài sẽ hiển thị thanh cuộn nếu không thể hiển thị hết trong kích thước textarea */
}

/* CSS cho hover */
.action-post-item:hover {
  cursor: pointer;
  transition: all .2s linear;
  background-color: rgba(0, 0, 0, 0.1);
}

/* --comment-- */
.comment-content {
  word-wrap: break-word;
}

#form-reply {
  background-color: #F0F2F5;
  width: 100%;
  height: 100%;
  max-height: 74px;
  border-radius: 16px;
  padding: 12px;
  resize: none;
}

#form-reply:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.reply-form {
  display: none;
}

.srollbar::-webkit-scrollbar {
  width: 8px;
}

.srollbar::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 30px;
}

.comment-modal {
  display: none;
  transition: all .2s linear;
}