/* -- header -- */
#search-input:focus {
  box-shadow: none;
  background-color: #f0f2f5;
}

/* nav button */
.nav__btn a:hover:not(.nav__btn-active) {
  background: #f0f2f5 !important;
}

.nav__btn a:hover i {
  color: #0d6efd !important;
}

.nav__btn-active i {
  color: #0d6efd !important;
}

.nav__btn-active {
  position: relative;
}

.nav__btn-active:before {
  content: "";
  position: absolute;
  bottom: -4.5px;
  left: 0;
  transform: translate(0, 4.5px);
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #0d6efd !important;
}

/* dropdown */
.dropdown-item:active {
  background-color: #d5d5d5 !important;
}

/* chat box */
.modal-content:hover .fa-phone-alt {
  color: #0d6efd !important;
}

.modal-content:hover .fa-video {
  color: #0d6efd !important;
}

.modal-content:hover .fa-file-image {
  color: #0d6efd !important;
}

.modal-content:hover .fa-plus-circle {
  color: #0d6efd !important;
}

.modal-content:hover .fa-portrait {
  color: #0d6efd !important;
}

.modal-content:hover .fa-adjust {
  color: #0d6efd !important;
}

.modal-content:hover .fa-thumbs-up {
  color: #0d6efd !important;
}

/* edit */
.edit-button {
  opacity: 0;
}

.edit-button:hover {
  opacity: 1;
}

.edit-heading:hover .edit-button {
  opacity: 1;
}

/* scrollbar */
.scrollbar:hover {
  overflow: auto !important;
}

/* -- end header -- */
/* -- profile -- */
.profile {
  max-width: 1095px;
  width: 100%;
}

.profile-cover {
  max-height: 420px;
  height: 100%;
  object-fit: cover;
}

.modal-desc {
  display: none;
  transition: all .2s linear;
}

.preview {
  display: none;
  transition: all .2s linear;
}

#imagePreview {
  max-height: 400px;
  object-fit: cover;
}

.main-container {
  max-width: 1062px;
  width: 100%;
}

#avatar {
  border: 5px solid white;
}

.profile-img {
  width: calc((100% / 3) - (8px / 3));
  aspect-ratio: 1/1;
  object-fit: cover;
}

.friend-item {
  width: calc((100% / 3) - (16px / 3));
  min-height: 140px;
}

.friend-image {
  aspect-ratio: 1/1;
}